<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, error. Veritatis vero, provident fugit reiciendis obcaecati tenetur? Voluptatibus, quidem. Tempore sed sapiente laborum, sint temporibus eaque laudantium, voluptate officia ullam reiciendis, asperiores obcaecati hic provident nemo exercitationem doloribus repudiandae tenetur?</p>
    </div>
</div>