<div class="jumbotron mt-4">
    <h1 class="display-4">App de notas</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, aliquam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, omnis.</p>
    <a href="#" class="btn btn-primary btn-lg">Prueba</a>
</div>